
.App{
  margin-left: 4%;
 
}

.navbar{
  max-width: 82%;
  height: 50px;
  color: white;
  background-color: black;
  font-weight: 600
}


.nav li{
  display: inline-block;
  margin: 2%;
  
}
.title{
  text-shadow: 1.4px 1.4px 4px grey;
}
.nav a {
  text-decoration: none;
  color: aliceblue;
}

.activelink {
  padding: 5px;
  border: 4px solid blueviolet;
  margin-bottom: 16px;
}

.addItem{
  width: 40%;
  height: 40px;
  background-color: goldenrod;
  margin-left: 33.3%;
  margin-bottom: 50px;
}

.inputform {
  width: 100%;
  margin-top: 5%;
}

.inputtext{
  margin-right: 2%;
  width: 25%;
  height: 30px;
  font-size: 120%;
  margin: 1%;
}

.inputbutton{
  height: 30px;
  width: 25%;
  font-weight: 20px;
  margin: 1%;
}